<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>stanpayment</name>
    <displayName><![CDATA[Stan Payment]]></displayName>
    <version><![CDATA[1.3.0]]></version>
    <description><![CDATA[Stan, the solution that makes it easy for you to pay WITHOUT a card, and which is customer-oriented]]></description>
    <author><![CDATA[Brightweb]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>